body {
    font-family: Gugi, sans-serif;
    background-color: #022031;
}

h1, h2 {
    text-align: center;
    color: white;
}

#imgBox1 img, #imgBox2 img, #imgBox3 img, #imgBox4 img, #imgBox5 img {
    width: 100%;
}

.imgBoxes {
    display: inline-block;
    background-color: white;
    height: 60px;
}

#boxHolder {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#boxHolder div {
    margin: 0 10px;
    border: 1px solid black;
}

#buttonHolder {
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttonHolder button {
    font-size: 1.75em;
    background-color: #31A1DD;
    border: 1px solid black;
}

#sprite {
    width: 75px;
    height: 70px;
    position: relative;
    left: 0;
    top: 0;
    padding-top: 5px;
}


#field {
    background-color: white;
    margin: auto;
    width: 600px;
    height: 400px;
    border: 2px solid black;
}