body {
    text-align: center;
    font-family: 'Aldrich', Arial;
    background-color: #022031;
    color: #31A1DD;
}

h1 {
    font-size: 3em;
}

.navbar-nav.mr-auto.navbar-center {
    margin: 0 auto;
}

.navbar-nav.mr-auto.navbar-center li a {
    font-size: 2em;
}

hr {
    margin-top: 20px;
    border-color: #31A1DD;
}

.orange {
    background-color: #03324B;
    opacity: 1;
}

#frontHeader {
    font-size: 5em;
    border-radius: 25px;
    margin: 20px 0;
    padding: 0 20px;

}

#frontSubHeader {
    font-size: 3em;
    border-radius: 25px;
    margin: 20px 0;
    padding: 0 20px;

}


p {
    font-size: 1.5em;
    padding: 0 50px;
    margin: 50px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    text-align: center;
}

.img-responsive {
    width: 100%;
}

#akProj {
    margin-top: 100px;
    padding: 0 20%;
}

#fsnProj {
    margin-top: 100px;
    width: 200px;
}

#robotProj {
    margin-top: 100px;
    width: 250px;
}


.contImg {
    width: 80px;
    margin: 0 15px;
}

#contact {
    font-size: 2.5em;
}

#links {
    
}

.footer {
    height: 60px;
}

.footer p {
    margin: 15px 0 0;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2.5em;
    }
}