/*This sheet contains all styling for my personal website*/

/**********MAIN**********/
body {
    margin: 0;
    background-color: #DFDCE3;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

p {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

hr {
    border-color: #4ABDAC;
    margin: 0;
}

h1 {
    font-size: 4em;
}
/**********HEADER*********/

#headerInfo {
    width: 80%;
    display: block;
    margin: 150px auto 0;
    color: white;
    cursor: context-menu;
    text-align: center;
}

#headerImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#headerInfo p {
    text-align: center;
}

#nav {
    width: 100%;
    height: 80px;
    white-space: nowrap;
}

#navList {
    width: inherit;
    height: inherit;
    margin: -2% 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#navList li {
    display: inline-block;
    margin: 0 2%;
    padding-top: 1.5%;
}

#navList a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#navList a, #headerInfo p {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

#headerInfo h2 {
    font-size: 4em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

#subHeader {
    display: inline-block;
    margin: 10% auto 0;
}

#subHeader p {
    font-size: 2em;
    letter-spacing: 1px;
}

#navList a:hover {
    font-size: 1.8em;
    color: #4ABDAC;
}

#headerInfo h2:hover {
    font-size: 6em;
    color: #4ABDAC;
}

#subHeader p:hover {
    color: #4ABDAC;
}

#headerInfo p:hover {
    color: #4ABDAC;
}

/**********CONTENT**********/
.section {
    height: 700px;
    padding: 4% 10% 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: hidden;
}

.sectionAlt {
    height: 700px;
    padding: 4% 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: hidden;
    background-color: #232b38;
}

.section h1 {
    color: #000;
}

.sectionAlt h1, .sectionAlt h3 {
    color: #4ABDAC;
}

#summaryText {
    margin-top: 10%;
}

#skillWrapper {
    width 100%;
    text-align: center;
    margin-top: 10%;
}

.skillContainer {
    width: 300px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.skillContainer h2 {
    margin-top: 1%;
    color: #fff;
}

.skills {
    height: 200px;
    width: 300px;
    
}

.skills > svg {
    height: 100%;
    display: block;
}

#extra {
    margin-top: 100px;
}

.half {
    width: 100%;
    height: 600px;
    padding: 80px 0;

}

.halfTwo {
    width: 100%;
    height: 600px;
    padding: 100px;

}

.resumeIcon img {
    width: 150px;
    display: inline-block;
}

.resumeIcon {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.extra {
    color: #4ABDAC;
    margin: 40px 0;
}

.altColor {
    color: #4ABDAC;
    margin-right: 10px;
}

.altPara {
    color: #4ABDAC;
    margin-top: 50px;
}

#contactInfo {
    color: #fff;
}

.icons {
    width: 100%;
    margin-top: 10px;
}

.icons a {
    margin: 0 20px 0 0;
}

.icons img {
    width: 50px;
    height: 50px;
}

.follow {
    margin-top: 50px;
    color: #4ABDAC;
    text-align: left;
}

#pay img {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0 auto;
}
/**********FOOTER**********/
#footer {
    background-color: #4ABDAC;
    height: 60px;
    color: #fff;
    padding-top: 10px;
}

#footer h4 {
    text-align: left;
}
