/*This sheet contains all styling for my personal website*/

/**********MAIN**********/

body {
    margin: 0;
    background-color: #DFDCE3;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

p {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

hr {
    border-color: #4ABDAC;
    margin: 0;
}

h1 {
    font-size: 4em;
}

/**********HEADER*********/

.navbar-light {

}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    font-size: 2em;
}

.navbar-light .navbar-nav > li > a {
    color: #fff;
}

.navbar.navbar-light {
    margin-bottom: 0;
}

/**********CONTENT**********/

.headerImg {
    padding: 0;
    margin: 0;
}

.section {
    padding: 4% 10% 8%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: hidden;
}

.sectionAlt, .sectionContact {
    padding: 4% 0 8% 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: hidden;
    background-color: #232b38;
}

.section h1, .sectionAlt h1, .sectionContact h1 {
    margin-bottom: 3%;
}

.section h1 {
    color: #000;
}

.sectionAlt h1, .sectionAlt h3 {
    color: #4ABDAC;
}

.sectionAlt h3 {
    margin-top: 5%;
}

#summaryText {
    margin-top: 10%;
}

#skillWrapper {
    width 100%;
    text-align: center;
    margin-top: 10%;
}

.skillContainer {
    width: 300px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.skillContainer h2 {
    margin-top: 1%;
    color: #fff;
}

.skills {
    height: 200px;
    width: 300px;
    
}

.skills > svg {
    height: 100%;
    display: block;
}

.contInfo, .contInfo1 {
    text-align: center;
}

.contInfo1 p {
    margin: 20% 0 0 5%;
}

.resumeIcon img {
    width: 150px;
    display: inline-block;
}

.resumeIcon {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.altColor {
    color: #4ABDAC;
}

.altPara {
    color: #4ABDAC;
    margin-bottom: 10%;
}

#contactInfo {
    color: #fff;
}

.icons {
    width: 100%;
    margin-top: 2%;
}

.icons a {
    margin: 0 4% 0 0;
}

.icons img {
    width: 10%;
    height: 10%;
}

.follow {
    margin-top: 10%;
    color: #4ABDAC;
    text-align: center;
}

#pay img {
    width: 20%;
    height: 20%;
    display: inline-block;
    margin: 0 auto;
}
/**********FOOTER**********/
#footer {
    background-color: #4ABDAC;
    height: 60px;
    color: #fff;
    padding-top: 10px;
}

#footer h4 {
    text-align: left;
}
